<%= javascript_include_tag 'recorderWorker.js.erb' %>
<%= javascript_include_tag 'recorder.js.erb' %>
<div id="arrow">
  <%= link_to "<- Cancel", submissions_path%>
</div>
<p id="identification">
  <%= @submission.id %>
</p>
<div id="title_container">
  <h1> Add Recording </h1>
</div>

<head>
  <%= yield :head %>
</head>

<script>
  var onFail = function(e) {
	console.log('Rejected!', e);
  };

  var userRecording = null;

  var onSuccess = function(s) {
	var context = new webkitAudioContext();
	var mediaStreamSource = context.createMediaStreamSource(s);
	recorder = new Recorder(mediaStreamSource);
	recorder.record();

	// audio loopback
	// mediaStreamSource.connect(context.destination);
  }

  window.URL = window.URL || window.webkitURL;
  navigator.getUserMedia  = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

  var recorder;
  var audio = document.querySelector('audio');

  function startRecording() {
	if (navigator.getUserMedia) {
	  navigator.webkitGetUserMedia({audio: true}, onSuccess, onFail);
	} else {
	  console.log('navigator.getUserMedia not present');
	}
  }

  function stopRecording() {
	recorder.stop();
	recorder.exportWAV(function(s) {
	  audio.src = window.URL.createObjectURL(s);
    stageRecording(s);
	});
}

  function stageRecording(blob) {
    userRecording = blob;
  }

  function sendWaveToPost() {
            var data = new FormData(document.getElementById("audio_form"));
            var id = document.getElementById('identification').innerHTML;
            id = id.replace(/\s/g, '');
            if (userRecording != null) {
              data.append("audio", userRecording, (new Date()).getTime() + ".wav");
          }
            data.append("id", id.toString());
            var str1 = "/submissions/";
            $.ajax({ url: str1.concat(id).concat("?format=json"),
                    type: 'PATCH',
                    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                      alert(response.message);
                      window.location = document.URL.replace('edit', '');
                    }
            });
            
        }


</script>


<div id="content_container">

  <div id="text">


    <h3> Text </h3>
    <p>
      <%= simple_format(@submission.text)%>
    </p>
  

  </div>
  <h4> Enter Username and then record or upload recording </h4>
  <div id="audio_upload_container">
    <form id="audio_form" enctype="multipart/form-data">
      Username: <input type="text" id="userbox" name="user"><br><br>
      File <input type="file" accept=".wav" id="audio_file" name="audio_file">
    </form>
   
    <ol> To Record:
     <li> Click "start recording" (and click "Allow" on your browser if necessary)</li>
     <li> Speak clearly into your machine's microphone</li>
     <li> Click "stop recording and play" to hear your recording</li>
     <li> Click "save recording" if you are satisfied with your recording. Otherwise, click "start recording" to record again </li>
    </ol>



  <audio controls autoplay></audio>
  <div id="button_container">
  <input onclick="startRecording()" type="button" value="start recording" />
  <input onclick="stopRecording()" type="button" value="stop recording and play" />
  </div>


    <input onclick="sendWaveToPost()" type="button" value="Save recording" />
  </div>

</div>