<%= javascript_include_tag 'recorderWorker.js.erb' %>
<%= javascript_include_tag 'recorder.js.erb' %>
<h1> Add Recording </h1>
<audio controls autoplay></audio>

<input onclick="startRecording()" type="button" value="start recording" />
<input onclick="stopRecording()" type="button" value="stop recording and play" />

<head>
  <%= yield :head %>
</head>

<script>
  var onFail = function(e) {
	console.log('Rejected!', e);
  };

  var onSuccess = function(s) {
	var context = new webkitAudioContext();
	var mediaStreamSource = context.createMediaStreamSource(s);
	recorder = new Recorder(mediaStreamSource);
	recorder.record();

	// audio loopback
	// mediaStreamSource.connect(context.destination);
  }

  window.URL = window.URL || window.webkitURL;
  navigator.getUserMedia  = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

  var recorder;
  var audio = document.querySelector('audio');

  function startRecording() {
	if (navigator.getUserMedia) {
	  navigator.webkitGetUserMedia({audio: true}, onSuccess, onFail);
	} else {
	  console.log('navigator.getUserMedia not present');
	}
  }

  function stopRecording() {
	recorder.stop();
	recorder.exportWAV(function(s) {
	  audio.src = window.URL.createObjectURL(s);
	});
  }
</script>

<%= form_for :submission, url: submission_path(@submission), method: :patch do |f| %>
  <% if @submission.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@submission.errors.count, "error") %> prohibited
      this submission from being saved:</h2>
    <ul>
    <% @submission.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label "Username" %>
    <%= f.text_field :audiouser %>
  </p>




  <p><%= f.submit "Save Recording" %> </p>


<% end %>

<p><%= link_to "Cancel Recording", submissions_path%> </p>