<h1>All Submissions</h1>

<%= link_to 'Make New Submission', new_submission_path %> 
<table>
	<tr>
		<th>Title </th>
    <th>Date/Time Created</th>
    <th>Uploaded By</th>
		<th>Recording </th>
    <th>Date/Time Recorded</th>
    <th>Recorded By</th>
	</tr>


	<% @submissions.each do |submission| %>
    <tr>
      <td><%= submission.title %></td>
      <td><%= submission.created_at.to_formatted_s %> </td>
      <td><%= submission.textuser %></td>
      <td><% if submission.recording.nil?  %>
          <%= link_to 'Add Recording', edit_submission_path(submission) %>
           <% else %> 
           <%= link_to 'View', submission_path(submission) %>  
            <% end %>  </td>
      <td><% if !submission.recording.nil?  %>
          <%= submission.updated_at.to_formatted_s %>
            <% end %>  </td>
      <td><% if !submission.recording.nil?  %>
          <%= submission.audiouser %>   
            <% end %>  </td>
   
      <td> <%= link_to 'View', submission_path(submission) %> </td>
      <td><%= link_to 'Destroy', submission_path(submission),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>
