<script type="text/javascript" src="reader.js"></script>
<h1> Create Submission </h1>


<%= form_for :submission, url: submissions_path do |f| %>
  <% if @submission.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@submission.errors.count, "error") %> prohibited
      this submission from being saved:</h2>
    <ul>
    <% @submission.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

 <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
     <%= f.label "Username" %>
    <%= f.text_field :textuser %>
  </p>

	<h2> Upload a .txt file or copy and paste</h2>
  <div id="form_container">
      Select a text file: 
      <input type="file" id="fileInput">
  </div>

  <p>
    <%= f.label :text %>
    <%= f.text_area :text , id: "populate" %>
  </p>



 
  <p>
    <%= f.submit 'Record Voiceover'%>
    <%= f.submit 'Save Without Recording'%>
  </p>
<% end %>





<p> <%= link_to "Cancel", submissions_path %> </p>