<script type="text/javascript" src="reader.js"></script>
<link rel="stylesheet" type="text/css" src="upload.css">
<div id="arrow"><p>&lt;- <%= link_to "Cancel", submissions_path %> </p></div>
<div id="title_container">
  <h1> Create Submission </h1>
</div>


<%= form_for :submission, url: submissions_path do |f| %>
  <% if @submission.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@submission.errors.count, "error") %> prohibited
      this submission from being saved:</h2>
    <ul>
    <% @submission.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<div id="input_container_container">
  <div class="input_container">
 <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  </div>
  <div class="input_container">
  <p>
     <%= f.label "Username" %>
    <%= f.text_field :textuser %>
  </p>
  </div>
</div>
<div id="upload_text">
	<h2> Upload a .txt file or copy and paste</h2>
  <div id="form_container">
      Select a text file: 
      <input type="file" id="fileInput">
  </div>
  <div id="form_container2">
  <p>
    <%= f.label :text %>
    <%= f.text_area :text , id: "populate" %>
  </p>
  </div>
  </div>
  <div id="button_container">
  <p>
    <%= f.submit 'Record Voiceover'%>
    <%= f.submit 'Save Without Recording'%>
  </p>
  </div>

<% end %>