<h1> <%= @submission.title %> </h1>


<p> Text uploaded by: <%= @submission.textuser %> at 
     <%= @submission.created_at %> </p>



<h2> Text </h2>
<p><%= simple_format(@submission.text) %></p>



<h2> Audio File </h2>



<p><% if !@submission.recording.nil?  %>
    Audio recorded by <%= @submission.audiouser %>
    at <%= @submission.updated_at.to_formatted_s %> 

    <% newFile = File.open("#{@submission.title}.wav", "wb") do |f| %>
    <%   f.write(@submission.recording) %>
    <% end %>

    <p>
	    <%= newFile.zero? %>
	</p>
    <%end %>
</p>






<p><%= link_to "Back to all recordings", submissions_path %></p>