<link rel="stylesheet" type="text/css" src="submission_style.css">
<div id="arrow">
  <%= link_to "<- Back to recordings", submissions_path %>
</div>
<div id="title_container">
    <h1> <%= @submission.title %> </h1>
</div>

<div id="content_div">
    <div class="text_container">
        <h2> Author </h2>
        <%= @submission.textuser %>
    </div>
    <div class="text_container">
        <h2> Text </h2>
        <p><%= simple_format(@submission.text) %></p>
    </div>
    <div class="text_container">
        <h2> Audio File </h2>



<p><% if !@submission.recording.nil?  %>
    Audio recorded by <%= @submission.audiouser %>
    at <%= @submission.updated_at.to_formatted_s %> 

    <% newFile = File.open("#{@submission.title}.wav", "wb") do |f| %>
    <%   f.write(@submission.recording) %>
    <% end %>

    <p>
	    <%= newFile.zero? %>
	</p>
    <%end %>
</p>
</div>
<div class="text_container">
    <h2> Timestamp </h2>
    <%= @submission.created_at %>
</div>
</div>